<%= form_with model: @post, local: true do |f| %>
<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="post-container">
    <p class="title">投稿フォーム</p>
    <%= form_for(@post, :url => { controller:'posts', action:'create'})do |f| %>
    <%= f.label :記事タイトル %>
        <br>
        <%= f.text_field :title,size: 140%>
        <%= f.label :image %>
            <%= f.file_field :image %>
        <br>
        <%= f.text_field :body,size: 140%>

    <%= f.submit "送信"%>
    <br>
    <% end %>
</div>
<% end %>